body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
button{
    padding:.5rem 1rem;
    color:#fff;
    background:#db4a39;
    cursor:pointer;
    font-size:1.5rem;
    border:none;
    outline:none;
    opacity:.9;
    transition:all .5s ease-in-out;
    border-radius:.5rem;
}
button:hover{
    opacity:1;
}
button i{
    margin:.5rem;
}